body
{
    background-size: cover;
    background-position: center;
}

.heading
{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.note
{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: black;
}

.div
{
    width: 100%;
    box-shadow: 5px 5px 5px green;
    border: 5px dashed black
}

input
{
    width: 50%;
  
}

.stuff
{
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
}

canvas
{
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
    margin-top: 250px;
}